In [1]:
100//7

14

In [2]:
100%7

2

In [3]:
5**3

125

In [4]:
#above are some arithmetic operations

In [ ]:
## sdlfjkfsng

In [10]:
a_variable = 23
is_today_saturday = False
my_fav_car = 'Delorean'
the_3_musketeers = ['Athos', 'Porthos', 'Aramis']
print(type(a_variable))

<class 'int'>

In [12]:
a = 10
type(a)

int

In [ ]:
#float are numbers with a decimal point

In [13]:
cost_of_ice_bag = 1.23
is_ice_bag_expensive = cost_of_ice_bag < 1.25
is_ice_bag_expensive

True

In [ ]:
#Above variable 'is_ice_bag_expensive' is example of a boolean variable whose return type is True or False

In [14]:
multiline_string = '''
askjfsbgf
asdfjbsdjkfb'''
multiline_string

'\naskjfsbgf\nasdfjbsdjkfb'

In [18]:
full_name = 'Derek_Obrien'
abc1 = 'mamta_banerjee'
full_name + " " + abc1
print(full_name)
print('\n')
print(abc1)

Derek_Obrien


mamta_banerjee

In [ ]:
# .lower(), .capitalize(), .upper() are methods used to change the case of characters

In [19]:
day = 'wednesday'
day1 = day.replace('wednes','thurs')
print(day1)

thursday

In [ ]:
# .replace function replaces part of the string
# any string method returns a new string, they don't modify the original string

In [22]:
v = '                 jh kjg lihjn lijhij'
v1 = v.strip()
v1

'jh kjg lihjn lijhij'

In [ ]:
#above strip function is used to remove whitespace characters from beginning and end of a string

In [24]:
a = [10,20]
print(str(a))

[10, 20]

In [30]:
t = 'zjsdfbjsdnf k'
t1 = t.split(' ')
print(t1)

['zjsdfbjsdnf', 'k']

In [7]:
a_list = [23, 'hello', None, 3.55, 'vegetables', 3<=5]
print(a_list)
print(len(a_list))
print(a_list[2:5])
print(a_list[2:])
print(a_list[:5])

[23, 'hello', None, 3.55, 'vegetables', True]
6
[None, 3.55, 'vegetables']
[None, 3.55, 'vegetables', True]
[23, 'hello', None, 3.55, 'vegetables']

In [11]:
city = ['barcelona', 'naples', 'prague']
city.append('lisbon')
city
city.append('munich')
city
city.append('paris')
city
city.insert(2, 'lodz')
city

['barcelona', 'naples', 'lodz', 'prague', 'lisbon', 'munich', 'paris']

In [ ]:
#Adding values in the list above

In [ ]:
#removing values below using pop:

In [16]:
city = ['barcelona', 'naples', 'prague']
city.pop(1)
city
city.append('stratsbourg')
city

['barcelona', 'prague', 'stratsbourg']

In [ ]:
#copy method, remove method, pop method

In [18]:
city = ['barcelona', 'naples', 'prague', 'marseilles', 'lyon', 'newcastle']
city1 = city.copy()
city1
city1.remove('naples')
city1

['barcelona', 'prague', 'marseilles', 'lyon', 'newcastle']

In [24]:
#TUPLE:

#A tuple is an ordered collection of values, which is immutable, which means not possible to add, remove or modify values in a tuple.

shampoo = ('head and shoulder', 'garnier', 'tressemme', 'Vatika', 'Biotoque')
len(shampoo)
shampoo[-2]
shampoo[2]

'tressemme'

In [28]:
shampoo = ('head and shoulder', 'garnier', 'tressemme', 'Vatika', 'Biotoque')
shampoo1 = list((shampoo))
shampoo1

['head and shoulder', 'garnier', 'tressemme', 'Vatika', 'Biotoque']

In [31]:
fish = ['crayfish', 'prawn', 'catfish']
fish2 = tuple((fish))
fish2

('crayfish', 'prawn', 'catfish')

In [33]:
soap = ['dove', 'medimix','lifebuoy', 'cinthol','lifebuoy']
soap.count('lifebuoy')
soap.index('cinthol')

3

In [ ]:
#Tuple has only 2 built in methods, count (no. of instances of an entry, index which returns index of an entry)

In [ ]:
#DICTIONARY: unordered collection of items, each item stored in a dictionary has a key and a value. Keys are used to retrieve values from
# a dictionary. Dictionaries have the type dict. Dictionaries are used to store many types of information, eg details about a person.
# Dictionaries are created by enclosing key-value pairs in curly brackets.

In [ ]:
person1 = {
    'name': 'John Adam',
    'sex': 'Male'
    'age': 30,
    'married': True
    
}

In [43]:
person2 = dict(name= 'Jacob Rees',
    sex= 'Male',
    age= 50,
    married= True)
print(person2)
print(type(person2))
print(person2['name'])

#Adding new key value pair in the dictionary

person2['address'] = ['1, Penny Lane']
print(person2)

{'name': 'Jacob Rees', 'sex': 'Male', 'age': 50, 'married': True}
<class 'dict'>
Jacob Rees
{'name': 'Jacob Rees', 'sex': 'Male', 'age': 50, 'married': True, 'address': ['1, Penny Lane']}